<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
        <div class="continer backtosite">
            <h1><%= message %></h1>
            <a href="login">Back to site</a>
        </div>
    </body>
</html>