<html lang="en">

<%- include('./partials/head.ejs')%>

  <body>
    <section class="main">
      <div class="container">
          <img src="/images/pngwing.com.png" alt="logo">
        <div class="links">
          <a href="/prediction">Patient</a>
          <a href="/account/login">Doctor</a>
        </div>
      </div>
    </section>
  </body>

</html>